html
{
font-family: 'Open Sans', sans-serif;
 height: 100%;}

*
{ margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  }

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: url("../images/bg.jpg");
  background-color: #254E6C;;
  background-attachment:fixed;
}

p
{ 
font-family: 'Open Sans', sans-serif;
padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 {
    color: #12ade0;
    font-family: "Open Sans",serif;
    font-weight: normal;
    
    margin: 0 0 10px;
   
}
h1 {
    font-family: "bree serif";
    font-size: 35px;
    line-height: normal;
    padding: 16px;
}
h2
{ font: normal 165% Arial, Helvetica, sans-serif;}


h3 {
    font-family: "Open Sans",serif;
    font-size: 20px;
    font-weight: normal;
   
    text-shadow: none;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
 font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a
{ color: #000;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_blue
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}

#menubar
{ width: 1069px;
  height: 50px;
  margin:35px auto 28px 131px; 
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;} 
  
#welcome
{ width: 360px;
  float: left;
  text-align: left;
  height: 45px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}  
   
#welcome h1 a
{ font-family: 'Open Sans', sans-serif;
  letter-spacing: -3px;
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px #000;  }
  
#menu_items {
    float: right;
    width: 560px;
    text-align: right;
    color: #FFF;
    margin-top: 24px;
}
  
ul#menu
{ margin:0;
  float: right;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  height: 24px;
  text-shadow: 1px 1px #000;
  padding: 16px 15px 10px 15px;
  background: transparent; } 
  
ul#menu li.current a, ul#menu li:hover a
{ color: #4F93EF;
  text-shadow: 1px 1px #000;}

#site_content
{ width: 1024px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  box-shadow:0px 0px 10px #000;
  background: #FFF;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;  } 

.sidebar_container
{ float: right;
  margin: 10px 20px 0 20px;
  width: 280px;
  padding: 0;}

.sidebar
{ float: left;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font-family: 'Open Sans', sans-serif;
  width: 100%;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px 1px 0px #0C3976;
  color: #fff;
  background: #1162CB;
  background: -moz-linear-gradient(#4F93EF, #1162CB);
  background: -o-linear-gradient(#4F93EF, #1162CB);
  background: -webkit-linear-gradient(#4F93EF, #1162CB);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  

#content
{ width: 100%;
  margin-bottom: 20px;
  float: left;}

.content_item
{ width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;}
  

.content_container {
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 311px;
}
  
#content_blue
 { width: 100%;
  height: 160px;
  float: left;
  text-align: center; } 
  
#content_blue p
 { color: #FFF;}  

#content_blue h4
{ color: #FFF;
  text-shadow: 0px 1px 0px #1162CB;}
  
.content_blue_container_box
{ width: 33%;
  padding: 10px 5px 15px 5px;
  text-align: center;
  margin: 20px 20px 10px 0;
  float: left;
  background: #1162CB;
  background: -moz-linear-gradient(#4F93EF, #1162CB);
  background: -o-linear-gradient(#4F93EF, #1162CB);
  background: -webkit-linear-gradient(#4F93EF, #1162CB);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;}

.content_blue_container_boxl
{ width: 280px;
  padding: 10px 5px 15px 5px;
  text-align: center;
  margin: 20px 0 10px 0;
  float: left;
  background: #1162CB;
  background: -moz-linear-gradient(#4F93EF, #1162CB);
  background: -o-linear-gradient(#4F93EF, #1162CB);
  background: -webkit-linear-gradient(#4F93EF, #1162CB);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;}
  

#footer {
    background-color: #254E6C;;
    
    font-size: 13px;
    padding: 20px 0;
    text-align: center;
    text-shadow: 0 1px 0 #000;
    width: 960px;
}
#footer a, #footer a:hover
{ color: #FFF;
  text-shadow: 0px 1px 0px #000;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}
  
 .readmore
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  margin-left: 95px;
  width: 90px;
  padding: 5px 5px 10px 7px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
 .readmore a
{ color: #1D1D1D;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 90px;
  padding: 5px 5px 10px 7px;
  background: #1162CB;
  background: -moz-linear-gradient(#4F93EF, #1162CB);
  background: -o-linear-gradient(#4F93EF, #1162CB);
  background: -webkit-linear-gradient(#4F93EF, #1162CB);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #BBB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: bold 100% arial; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #000;}
  
  
#banner_image {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#slider-wrapper {
    height: 400px;
	background: transparent;
	width: 100%;
}
#slider {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 400px;
    position: relative;
    width: 100%;
}
#slider img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}

.nivoSlider {
    position: relative;
}
.nivoSlider img {
    left: 0;
    position: absolute;
    top: 0;
}
.nivoSlider a.nivo-imageLink {
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    color: red;
    display: inline !important;
    text-decoration: none;
}
.nivo-caption a:hover {
    color: blue;
    text-decoration: underline;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 30px;
    z-index: 9;
}
a.nivo-prevNav {
    left: 15px;
}
a.nivo-nextNav {
    background-position: -30px 50%;
    right: 15px;
}
.nivo-controlNav {
    bottom: -30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.nivo-controlNav a {
    background: url("../images/bullets.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 22px;
    margin-top: 350px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 9;
}
.nivo-controlNav a.active {
    background-position: 0 -22px;
}

.content_blue_container_box_full_width {
    background: linear-gradient(#4f93ef, #1162cb) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #fff;
    min-height: 100px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.content_blue_container_box_full_width  h3{
	color:#fff;
}
.row{
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}
.pad10 {
    padding: 10px 20px;
}
 .col6{
	width:45%;
	border:1px #e1e1e solid;
 }
.row:before, .row:after{
	content:"";
	clear:both;
	display:block;
}


#certificate_nums {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border: medium none transparent;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    color: #fff;
    min-height: 35px;
    min-width: 220px;
    padding: 0 10px;
}
#validate_btn {
    background: none repeat scroll 0 0 #12ade0;
    border: medium none transparent;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-weight: bold;
    min-height: 35px;
    padding: 0 10px;
    text-shadow: 0 0 1px #000;
    min-width: 130px;
}
#welcome h1{
	padding:0;
}